@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  
}
body{
  font-size: 1rem;
  line-height: 1.5;
}

.main-container{
  max-width: 1920px; 
  margin: auto;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}


@media (prefers-color-scheme: dark) {
  a {color:white}
}
